:root {
  --gold: #ffb32c;
  --blended-gold: hsla(38, 100%, 80%, 70%);
  --blue: #004fff;
  --neon-green: #00ff8b;
  --dark-purple: #17013a;
  --light-purple: #a870ff;
  --purple: #6a0bff;
  --light-purple: #a870ff;
  --faded-purple: #544370;
  --purple-black: #0e0024;
  --black: #231f20;
  --white: #fff;

  --button-icon-disabled: var(--faded-purple);
  --button-icon-hover: var(--neon-green);

  --heading-font: 'Mallory Compact';
  --text-font: 'Mallory MP';
  --ui-font: 'Mallory MP Compact';

  --text-0: 0.75rem; /* 12px */
  --text-1: 0.875rem; /* 14px */
  --text-2: 1rem; /* 16px */
  --text-3: 1.5rem; /* 24px */
  --text-4: 2.25rem; /* 36px */

  --height-1: 1rem; /* 16px */
  --height-2: 1.5rem; /* 24px */
  --height-3: 2.25rem; /* 36px */

  --space-2: 0.5rem; /* 8px */
  --space-2\.5: 0.625rem; /* 10px */
  --space-3: 0.75rem; /* 12px */
  --space-3\.5: 0.875rem; /* 14px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 1.75rem; /* 28px */
  --space-8: 2rem; /* 32px */
  --space-9: 2.25rem; /* 36px */
  --space-10: 2.5rem; /* 40px */

  --space-blocks: var(--space-3);
  --space-bottom: var(--space-10);
  --space-grid-gap: var(--space-6);
  --space-page-margin-x: var(--space-10);
  --space-page-margin-y: var(--space-10);

  --max-page-width: 1640px;

  --opacity-initial-logo: 0.1;

  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-overlay: 1000;

  --color-transition: color 100ms ease-out;
  --fill-transition: fill 100ms ease-out;
  --slow-opacity-transition: opacity 1000ms ease-out;
  --stroke-transition: stroke 100ms ease-out;
}
